.bubbleContiner{
display: flex;
flex-direction: row-reverse;
position: relative;
}

.profilePic{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: darkgray;
}

.bubbleContent{
    max-width: 48rem;
    width: inherit;
    color: white;
    background-color: #20203c;
    border-radius: 20px;
    padding: 16px;
    align-self: center;
    margin-right: 12px;
}

.messageData{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    color: whitesmoke;
}


.timeContianer{
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    color: whitesmoke;
    margin-top: 16px;
}